* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(120deg, #ff06a6, #597cff);
    min-height: 100vh;
}
.heading {
    text-align: center;
}
.App{
    text-align: center;
    min-height: 100vh;
    font-size: 35px;
  }
  .todolist-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}